<?xml version='1.0' encoding='utf-8'?>
<widget id="cl.dstchile.music_director_app" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Music Director</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
	<gap:plugin name="cordova-plugin-websocket-server" source="npm"/>
    <gap:plugin name="cordova-plugin-ip-mac-address" source="npm" />
    <plugin name="cordova-plugin-networkinterface" spec="0.4.0" source="npm"/>
    <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
    <plugin name="cordova-plugin-deviceinfo" source="npm"/>
    <content src="index.html" />
    <access origin="HOST*" />
</widget>
