<?xml version='1.0' encoding='utf-8'?>
<widget id="cl.dstchile.music_director_app" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Music Director</name>
    <description>
        Gestor de acordes para grupos o bandas de rock, pop, alabanza,etc.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
	<plugin name="cordova-plugin-networkinterface" source="npm" />
    <plugin name="cordova-plugin-websocket-server" source="npm" />
    <plugin name="cordova-plugin-websocket" source="npm"/>
    <plugin name="cordova-plugin-whitelist" source="npm"/>
    <plugin name="cordova-plugin-dialogs" source="npm"/>
    <gap:plugin name="cordova-plugin-screen-orientation" source="npm"/>
	<gap:plugin name="cordova-plugin-insomnia" source="npm" version="4.1.0"/>
    <gap:plugin name="cordova-plugin-splashscreen" source="npm"/>
    <content src="index.html" />
    <access origin="*" />
	
	<platform name="android">
	<icon src="www/img/iconos/android/icon-36-ldpi.png" density="ldpi" width="36" height="36"/>
	<icon src="www/img/iconos/android/icon-48-mdpi.png" density="mdpi" width="48" height="48"/>
	<icon src="www/img/iconos/android/icon-72-hdpi.png" density="hdpi" width="72" height="72"/>
	<icon src="www/img/iconos/android/icon-96-xhdpi.png" density="xhdpi" width="96" height="96"/>
	<splash src="splash/android/splash-port-ldpi.png" qualifier="port-ldpi"/>
	<splash src="splash/android/splash-port-mdpi.png" qualifier="port-mdpi"/>
	<splash src="splash/android/splash-port-hdpi.png" qualifier="port-hdpi"/>
	<splash src="splash/android/splash-port-xhdpi.png" qualifier="port-xhdpi"/>
	<preference name="SplashScreenDelay" value="4000"/>
	</platform>
	<platform name="ios">
	<icon src="www/img/iconos/ios/icon-57.png" density="ldpi" width="57" height="57"/>
	<icon src="www/img/iconos/ios/icon-57-2x.png" density="mdpi" width="57" height="57"/>
	<icon src="www/img/iconos/ios/icon-72.png" density="hdpi" width="72" height="72"/>
	<icon src="www/img/iconos/ios/icon-72-2x.png" density="xhdpi" width="72" height="72"/>
	</platform>
	
	
</widget>
