@charset "utf-8";
*{	
	margin:0;
	padding:0;
	box-sizing: border-box;	
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	list-style: none;
}
body{
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-top:0px;
	background-color: #000000;
	overflow-y:hidden;
	scroll-behavior: no;
	z-index:-5;
}

input:focus{
	outline:0px;
}
textarea:focus{
	outline:0px;
}
select:focus{
	outline:0px;
}
button:focus{
	outline:0px;
}
*:focus {
	outline:none;
	}

.borde {
	border:1px solid #096;
}
.boton1 {
  background: #808080;
  background-image: -webkit-linear-gradient(top, #4D4D4D, #1a1a1a);
  background-image: -moz-linear-gradient(top, #4D4D4D, #1a1a1a);
  background-image: -ms-linear-gradient(top, #4D4D4D, #1a1a1a);
  background-image: -o-linear-gradient(top, #4D4D4D, #1a1a1a);
  background-image: linear-gradient(to bottom, #4D4D4D, #1a1a1a);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #484848 1px;
  text-decoration: none;
}

.boton1:hover {
  background: #8a8a8a;
  background-image: -webkit-linear-gradient(top, #8a8a8a, #414242);
  background-image: -moz-linear-gradient(top, #8a8a8a, #414242);
  background-image: -ms-linear-gradient(top, #8a8a8a, #414242);
  background-image: -o-linear-gradient(top, #8a8a8a, #414242);
  background-image: linear-gradient(to bottom, #8a8a8a, #414242);
  text-decoration: none;
}
.boton3 {
  position: relative;
  background: #808080;
  background-image: -webkit-linear-gradient(top, #4D4D4D, #1a1a1a);
  background-image: -moz-linear-gradient(top, #4D4D4D, #1a1a1a);
  background-image: -ms-linear-gradient(top, #4D4D4D, #1a1a1a);
  background-image: -o-linear-gradient(top, #4D4D4D, #1a1a1a);
  background-image: linear-gradient(to bottom, #4D4D4D, #1a1a1a);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  border: solid #484848 1px;
  text-decoration: none;
}

.boton3:hover {
  position: relative;
  background: #8a8a8a;
  background-image: -webkit-linear-gradient(top, #8a8a8a, #414242);
  background-image: -moz-linear-gradient(top, #8a8a8a, #414242);
  background-image: -ms-linear-gradient(top, #8a8a8a, #414242);
  background-image: -o-linear-gradient(top, #8a8a8a, #414242);
  background-image: linear-gradient(to bottom, #8a8a8a, #414242);
  text-decoration: none;
}

.boton2 {
	 display:inline-block;
	 border:1px solid #333;
	 background: #3a7999;
	 background-image: -webkit-linear-gradient(top, #4D4D4D, #1a1a1a);
	 background-image: -moz-linear-gradient(top, #4D4D4D, #1a1a1a);
	 background-image: -ms-linear-gradient(top, #4D4D4D, #1a1a1a);
	 background-image: -o-linear-gradient(top, #4D4D4D, #1a1a1a);
	 background-image: linear-gradient(to bottom, #4D4D4D, #1a1a1a);
	 color: #f2f2f2;
	 padding-top:15px;
	 padding-bottom:15px;
	 font-size: 18px;
	 position: relative;
	 text-decoration:none;
	 min-height:20px;
	 text-align:center;
}
.boton2_activo {
	 display:inline-block;
	 border:1px solid #333;
	  background: #8a8a8a;
	  background-image: -webkit-linear-gradient(top, #8a8a8a, #414242);
	  background-image: -moz-linear-gradient(top, #8a8a8a, #414242);
	  background-image: -ms-linear-gradient(top, #8a8a8a, #414242);
	  background-image: -o-linear-gradient(top, #8a8a8a, #414242);
	  background-image: linear-gradient(to bottom, #8a8a8a, #414242);
	 color: #f2f2f2;
	 padding-top:15px;
	 padding-bottom:15px;
	 font-size: 18px;
	 position: relative;
	 text-decoration:none;
	 min-height:20px;
	 text-align:center;
}



.ancho-back {
	width:10vw;
}
.ancho-b_listado {
	width:25vw;
}
.ancho-b_grupos {
	width:25vw;
}
.ancho-b_agregar {
	width:25vw;
}
.ancho-b_config {
	width:15vw;
}

#busqueda {
	position: relative;
	padding-left:10px;
	width:80%;
	height:85%;
	top: -5px;
	min-height:20px;
	border-radius: 20px;
	border: 1px solid #000000; 
	box-shadow: 0px 15px 20px -1px #939393  inset;
	font-size: 15px;
}
.busqueda {
	position: relative;
	font-size: 40px !important;
	background-color:#666;
	height:30px;
	line-height:30px;
	width:100vw;
	color: white;
	text-align:center;
	min-height:50px;
	font-size-adjust:inherit;
}
#titulo_cancion {
	position: relative;
	margin:auto;
	padding-left:10px;
	width:90%;
	height:85%;
	min-height:20px;
	border-radius: 20px;
	border: 1px solid #000000; 
	box-shadow: 0px 15px 20px -1px #939393  inset;
	font-size: 15px;
}
.entrada_texto {
	position: relative;
	margin:auto;
	padding-left:10px;
	width:90%;
	height:85%;
	min-height:20px;
	border-radius: 20px;
	border: 1px solid #000000; 
	box-shadow: 0px 15px 20px -1px #939393  inset;
	font-size: 15px;
}

.titulo_cancion {
	margin: 0px;
	padding: 0px;
	position: relative;
	font-size: 18px !important;
	background-color:#666;
	height:40px;
	width:100vw;
	color: white;
	text-align:left;
	min-height:35px;
	line-height: 40px;
	font-size-adjust:inherit;
	display: flex;
	//border: 3px solid white;
}
.parrafo{
	margin: 0px;
	padding: 5px;
	position: relative;
	font-size: 16px !important;
	background-color:#666;
	height:auto;
	width:100vw;
	color: white;
	text-align:left;
	min-height:35px;
	line-height: 16px;
	font-size-adjust:inherit;
	display: flex;
}
.centrado{
	text-align:center !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

.listado {
	position:inherit;
	overflow:scroll;
	height:73vh;
	width:100vw;
	box-sizing:border-box;
	background-color:white;
}

.listado3v {
	top:50px;
	position:absolute;
	overflow:scroll;
	height:92vh;
	width:100vw;
	box-sizing:border-box;
	background-color:white;
}
.listado3h {
	top:50px;
	position:absolute;
	overflow:scroll;
	height:80vh;
	width:100vw;
	box-sizing:border-box;
	background-color:white;
}
.listadog{
	position:inherit;
	overflow:scroll;
	height:82vh;
	width:100vw;
	box-sizing:border-box;
	background-color:white;
}
.listadog2 {
	position:inherit;
	overflow:scroll;
	height:69vh;
	width:100vw;
	box-sizing:border-box;
	background-color:white;
}
.listado2 {
	position:inherit;
	overflow:scroll;
	height:54vh;
	width:100vw;
	box-sizing:border-box;
	background-color:white;
}

.listado_grupo {
	position:inherit;
	overflow:scroll;
	height:35vh;
	width:100vw;
	box-sizing:border-box;
	background-color:white;
}

.listado_grupo2 {
	position:inherit;
	overflow:scroll;
	height:100px;
	width:100vw;
	box-sizing:border-box;
	background-color:white;
}


.bot{
	position: fixed;
	bottom: 0;
}


.ancho-b_ordenar {
	width:40vw;
}
.ancho-b_song {
	width:20vw;
}
.ancho-b_songer {
	width:20vw;
}
.ancho-b_tono {
	width:20vw;
}
.content{
	display: -webkit-box;
	display: -ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content: center;
	//border: 10px solid #FF0004;
	width: 100%;
	height: 100vh;
}
.content-menu{
	margin-top: 25vh;
	height: 40vh;
}
.content-menu ul li{
	list-style: none;
	display: flex;
}
.content-menu ul li a{
	line-height: 17vh;
	text-align: center;
	display: block;
	width: 80vw;
	height: 20vh;
	margin: 2vh;
}

#cantante_grupo {
	position: relative;
	margin:auto;
	padding-left:10px;
	width:90%;
	height:85%;
	//top: -9px;
	min-height:20px;
	border-radius: 20px;
	border: 1px solid #000000; 
	box-shadow: 0px 15px 20px -1px #939393  inset;
	font-size: 15px;
}

.n_velocidad {
	position: relative;
	width: 40%;
	height: 90%;
	top: -4px;
	min-height: 20px;
	border-radius: 20px;
	border: 1px solid #000000;
	box-shadow: 0px 15px 20px -1px #939393 inset;
	font-size: 15px;
	text-align: center;
}

#tono {	
	position: relative;
	width:60%;
	height:85%;
	text-align: center;
	min-height:20px;
	border-radius: 20px;
	border: 1px solid #000000; 
	box-shadow: 0px 15px 20px -1px #939393  inset;
	font-size: 15px;
}
#compas {	
	position: relative;
	width:60%;
	height:85%;
	text-align: center;
	min-height:20px;
	border-radius: 20px;
	border: 1px solid #000000; 
	box-shadow: 0px 15px 20px -1px #939393  inset;
	font-size: 15px;
}

.sel_css {
	width: 65%;
	text-align: center;
}

.l_cancion {
	position:absolute;
	top:0px;
	bottom:0px;
	width: 100vw;
	resize:none;
	z-index:999;
}
.l_cancion2 {
	position: fixed;
	top: 40px;
	bottom: 0px;
	resize:none;
	width: 100vw;
	z-index: 999;
}
.base_cancion {
	margin: 0px;
	padding: 0px;
	position: fixed;
	bottom: 0px;
	background-color:#666;
	height:40px;
	width:100vw;
	z-index:99;
}
.base_cancionw {
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 500px;
	background-color:#666;
	height:40px;
	width:100vw;
	z-index:99;
}
.letra_cancion {
	margin: 0px;
	padding: 0px;
	position: relative;
	font-size: 18px !important;
	color: white;
	display:flex;
	background-color:#666;
	height:200px;
	width:100vw;
}
.letra_cancion2 {
	position: fixed;
	top: 0px; 
	z-index: 999;
}
.letra_cancionw {
	margin: 0px;
	padding: 0px;
	position: absolute;
	width:100vw;
	height:120px;
	top:360px;
	background-color: #0F0;
}
.letra_cancionx {
	margin: 0px;
	padding: 0px;
	position: absolute;
	width:100vw;
	top:360px;
	bottom:39px;
	background-color: #0F0;
}
#check{
	display:none;
}
.icon-resize-small{
	display:block !important;
	position:fixed !important;
	right:3px; /* ajusta X px a la izquierda desde el margen derecho */
	top:3px; /* ajusta X px hacia abajo desde el margen superior */
	padding:3px; /* separa X px del margen */
	font-size: 20px;
}

#guardar {
	width: 50vw;
	height: 100%;
	background: #808080;
    background-image: -webkit-linear-gradient(top, #4D4D4D, #1a1a1a);
    background-image: -moz-linear-gradient(top, #4D4D4D, #1a1a1a);
    background-image: -ms-linear-gradient(top, #4D4D4D, #1a1a1a);
    background-image: -o-linear-gradient(top, #4D4D4D, #1a1a1a);
    background-image: linear-gradient(to bottom, #4D4D4D, #1a1a1a);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #484848 1px;
    text-decoration: none;
}

.listado_canciones{
	background-color:white;
	text-decoration:none;
}
.listado_canciones a{
	text-decoration:none;
	color:black;
}
.listado_canciones h3{
	font-weight:bold;
}
.listado_canciones li{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	box-shadow: 0px -2px 5px 1px #CCCCCC inset;
}
.flex li{
	color:black;
	display:flex;
}
.flex li button{
	background: #808080;
    background-image: -webkit-linear-gradient(top, #4D4D4D, #1a1a1a);
    background-image: -moz-linear-gradient(top, #4D4D4D, #1a1a1a);
    background-image: -ms-linear-gradient(top, #4D4D4D, #1a1a1a);
    background-image: -o-linear-gradient(top, #4D4D4D, #1a1a1a);
    background-image: linear-gradient(to bottom, #4D4D4D, #1a1a1a);
    -webkit-border-radius: 40;
    -moz-border-radius: 40;
    border-radius: 40px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    border: solid #484848 1px;
	margin:auto;
	width:15vw;
	height:50px;
}
.flex li a{
	width:80vw;
}
.listado_directores{
	background-color:white;
	text-decoration:none;
}
.listado_directores a{
	text-decoration:none;
	color:black;
}
.listado_directores h3{
	font-weight:bold;
}
.listado_directores li{
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	box-shadow: 0px -2px 5px 1px #CCCCCC inset;
}


#principal{
	height:100vh;
	width:100vw;
}

#menu-superior{
	position:absolute;
	z-index:99;
	top:0px;
	height:53px;
	width:100vw;
	background: #808080;
	background-image: -webkit-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: -moz-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: -ms-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: -o-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: linear-gradient(to bottom, #4D4D4D, #1a1a1a);
	text-align:center;
}
#menu-inferior{
	position:absolute;
	z-index:99;
	bottom:0px;
	height:50px;
	width:100vw;
	background: #808080;
	background-image: -webkit-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: -moz-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: -ms-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: -o-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: linear-gradient(to bottom, #4D4D4D, #1a1a1a);
	display:flex;
	justify-content:center;
	padding:2px;
}
#contador{
	background:url(../img/Eclipse77px.gif) center;
	background-repeat:no-repeat;
	position:fixed;
	width:100%;
	text-align:center;
	line-height:77px;
	top:40vh;
	font-size:36px;
	z-index:999;
}
#mensajeria{
	background:url(../img/Eclipse77px.gif) center;
	background-repeat:no-repeat;
	position:fixed;
	width:100%;
	text-align:center;
	line-height:77px;
	top:40vh;
	font-size:36px;
	z-index:999;
}
#content-cancion{
	position:absolute;
	top:53px;
	z-index:99;
	transition:all 1200ms;
	bottom:50px;
	width:100%;
	background-color:white;
}
#content-cancion-musico{
	position:absolute;
	top:53px;
	z-index:100;
	transition:all 1200ms;
	bottom:0px;
	width:100%;
	background-color:white;
}
.content-cancion{
	z-index:99;
	top:0 !important;
	transition:all 2s;
}
#cancion{
	position:absolute;
	width:99vw;
	top:0px;
	bottom:0px;
	resize:none;
	overflow:scroll;
	border:none;
}
#t-can{
	position:relative;
	top:15px;
	color:white;
}
#boton-editar{
	position:absolute;
	width:20vw;
	right:0px;
}
#boton-back{
	position:absolute;
	left:0px;
}
#boton-play{
	border-radius:35px;
	width:25vw;
	height:95%;
}
#boton-rewind{
	position:absolute;
	left:20px;
	border-radius:35px;
	width:25vw;
	height:95%;
}
#boton-forward{
	position:absolute;
	right:20px;
	border-radius:35px;
	width:25vw;
	height:95%;
}
#boton-stop{
	border-radius:35px;
	width:18vw;
	color:red !important;
	height:95%;
}
#boton-pause{
	border-radius:35px;
	width:18vw;
	height:95%;
}
#boton-menos{
	border-radius:35px;
	width:18vw;
	height:95%;
}
#boton-mas{
	border-radius:35px;
	width:18vw;
	height:95%;
}
.color-boton{
	border:1px solid #333;
	background: #3a7999;
	background-image: -webkit-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: -moz-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: -ms-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: -o-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: linear-gradient(to bottom, #4D4D4D, #1a1a1a);
	color:white;
}
.color-boton:active{
	border:1px solid #333;
	background: #8a8a8a;
	background-image: -webkit-linear-gradient(top, #8a8a8a, #414242);
	background-image: -moz-linear-gradient(top, #8a8a8a, #414242);
	background-image: -ms-linear-gradient(top, #8a8a8a, #414242);
	background-image: -o-linear-gradient(top, #8a8a8a, #414242);
	background-image: linear-gradient(to bottom, #8a8a8a, #414242);
	color:white;	
}
#text-velocidad{
	position: relative;
	width: 18vw;
	height:95%;
	border-radius: 20px;
	border: 1px solid #000000;
	box-shadow: 0px 15px 20px -1px #939393 inset;
	font-size: 18px;
	text-align: center;
}
.disnone{
	display:none !important;
}

.contenedor_grupo{
	padding:15px;
	color:white;
	background-color:#666;
	width:100vw;
	z-index:-1;
	position:absolute;
	top:51px;
	bottom:0px;
}
.contenedor_grupo div{
	height:50px;
	line-height:50px;
	text-align:center;
}
#nombre_grupo{
	padding-left:10px;
	width:90%;
	height:95%;
	min-height:20px;
	border-radius: 20px;
	border: 1px solid #000000; 
	box-shadow: 0px 15px 20px -1px #939393  inset;
	font-size: 15px;
}
#n_grupo{	
	width: 50vw;
	height: 100%;
	background: #808080;
    background-image: -webkit-linear-gradient(top, #4D4D4D, #1a1a1a);
    background-image: -moz-linear-gradient(top, #4D4D4D, #1a1a1a);
    background-image: -ms-linear-gradient(top, #4D4D4D, #1a1a1a);
    background-image: -o-linear-gradient(top, #4D4D4D, #1a1a1a);
    background-image: linear-gradient(to bottom, #4D4D4D, #1a1a1a);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #484848 1px;
    text-decoration: none;
}
.agregados{
	height:30px;
	line-height:30px;
	background-color:#666;
	color:white;
	font-size:18px;
	font-weight:bold;
	width:100vw;
	text-align:center;
}
#pop_prueba{
	position:absolute;
	z-index:999;
	bottom:50vh;
	left:15vw;
	width:75vw;
	opacity:0.8;
	text-align:center;
	color:#FFF;
	height:30px;
	line-height:30px;
	border-radius:50px;
	background:#666;
}
#con_pop{
	position:absolute;
	z-index:999;
	bottom:15vh;
	left:15vw;
	width:75vw;
	opacity:0.8;
	text-align:center;
	color:#FFF;
	height:30px;
	line-height:30px;
	border-radius:50px;
	background:#666;
}

#con_pop_2{
	position:absolute;
	z-index:999;
	bottom:75vh;
	left:15vw;
	width:75vw;
	opacity:0.8;
	text-align:center;
	color:#FFF;
	height:30px;
	line-height:30px;
	border-radius:50px;
	background:#666;
}

#con_pop_3{
	position:absolute;
	z-index:999;
	bottom:65vh;
	left:15vw;
	width:75vw;
	opacity:0.8;
	text-align:center;
	color:#FFF;
	height:30px;
	line-height:30px;
	border-radius:50px;
	background:#666;
}
#con_pop4{
	position:absolute;
	z-index:999;
	bottom:20vh;
	left:15vw;
	width:75vw;
	opacity:0.8;
	text-align:center;
	color:#FFF;
	height:30px;
	line-height:30px;
	border-radius:50px;
	background:#666;
}
#disco{
	position:absolute;
	bottom:7px;
	right:20px;
	width:15px;
	height:15px;
	background:#F00;
	border-radius:50%;
	z-index:99999;
}

#boxa{
	width:100vw;
	z-index:100;
	position:absolute;
	alignment-adjust:central;
	bottom:30%;
}
#abrir{
	position:absolute;
	width:80px;
	height:30px;
	left:15%;
}
#cerrar{
	position:absolute;
	width:80px;
	height:30px;
	right:15%;
}
#boxa2{
	width:100vw;
	z-index:100;
	position:absolute;
	alignment-adjust:central;
	bottom:22%;
}
#partir{
	position:absolute;
	padding-left:5px;
	padding-right:5px;
	height:30px;
	left:15%;
}
#detener{
	position:absolute;	
	padding-left:5px;
	padding-right:5px;
	height:30px;
	right:15%;
}


.buscar{
	position:absolute;
	z-index:5;
	left:0px;
	right:0px;
	bottom:0px;
	width:100vw;
	height:60px;
	background: #808080;
	background-image: -webkit-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: -moz-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: -ms-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: -o-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: linear-gradient(to bottom, #4D4D4D, #1a1a1a);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	//border-radius: 10px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding:5px;
	border: solid #484848 1px;
	text-decoration: none;
}

.buscar2{
	position:absolute;
	z-index:10;
	left:0px;
	right:0px;
	bottom:0px;
	width:100vw;
	height:60px;
	background: #808080;
	background-image: -webkit-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: -moz-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: -ms-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: -o-linear-gradient(top, #4D4D4D, #1a1a1a);
	background-image: linear-gradient(to bottom, #4D4D4D, #1a1a1a);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	//border-radius: 10px;
	font-family: Arial;
	color: #ffffff;
	font-size: 20px;
	padding:5px;
	border: solid #484848 1px;
	text-decoration: none;
}